.button {
  background-color: #8b9fd0;
  cursor: pointer;
  padding: 10px 20px;

  border-radius: 4px;
  text-transform: capitalize;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.button:active {
  background-color: #2b54b3;
}
.button_active {
  background: #4968b0;
  color: white;
}
